In [1]:
# Based on https://towardsdatascience.com/another-twitter-sentiment-analysis-with-python-part-2-333514854913
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

pat1 = r'@[A-Za-z0-9_]+'
pat2 = r'https?://[^ ]+'
combined_pat = r'|'.join((pat1, pat2))
www_pat = r'www.[^ ]+'
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

def tweet_cleaner_updated(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    try:
        bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        bom_removed = souped
    stripped = re.sub(combined_pat, '', bom_removed)
    stripped = re.sub(www_pat, '', stripped)
    lower_case = stripped.lower()
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
    letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = [x for x  in tok.tokenize(letters_only) if len(x) > 1]
    return (" ".join(words)).strip()

In [4]:
cols = ['sentiment','id','date','query_string','user','text']
df = pd.read_csv("../Downloads/trainingandtestdata/training.1600000.processed.noemoticon.csv", header=None, names=cols, encoding='latin-1')
df.drop(['id','date','query_string','user'],axis=1,inplace=True)
df['pre_clean_len'] = [len(t) for t in df.text]
testing = df.text[:100]
test_result = []
for t in testing:
    test_result.append(tweet_cleaner_updated(t))
test_result

['awww that bummer you shoulda got david carr of third day to do it',
 'is upset that he can not update his facebook by texting it and might cry as result school today also blah',
 'dived many times for the ball managed to save the rest go out of bounds',
 'my whole body feels itchy and like its on fire',
 'no it not behaving at all mad why am here because can not see you all over there',
 'not the whole crew',
 'need hug',
 'hey long time no see yes rains bit only bit lol fine thanks how you',
 'nope they did not have it',
 'que me muera',
 'spring break in plain city it snowing',
 'just re pierced my ears',
 'could not bear to watch it and thought the ua loss was embarrassing',
 'it it counts idk why did either you never talk to me anymore',
 'would ve been the first but did not have gun not really though zac snyder just doucheclown',
 'wish got to watch it with you miss you and how was the premiere',
 'hollis death scene will hurt me severely to watch on film wry is directors cut not out now',
 'about to file taxes',
 'ahh ive always wanted to see rent love the soundtrack',
 'oh dear were you drinking out of the forgotten table drinks',
 'was out most of the day so did not get much done',
 'one of my friend called me and asked to meet with her at mid valley today but ve no time sigh',
 'baked you cake but ated it',
 'this week is not going as had hoped',
 'blagh class at tomorrow',
 'hate when have to call and wake people up',
 'just going to cry myself to sleep after watching marley and me',
 'im sad now miss lilly',
 'ooooh lol that leslie and ok will not do it again so leslie will not get mad again',
 'meh almost lover is the exception this track gets me depressed every time',
 'some hacked my account on aim now have to make new one',
 'want to go to promote gear and groove but unfornately no ride there may going to the one in anaheim in may though',
 'thought sleeping in was an option tomorrow but realizing that it now is not evaluations in the morning and work in the afternoon',
 'awe love you too am here miss you',
 'cry my asian eyes to sleep at night',
 'ok sick and spent an hour sitting in the shower cause was too sick to stand and held back the puke like champ bed now',
 'ill tell ya the story later not good day and ill be workin for like three more hours',
 'sorry bed time came here gmt',
 'do not either its depressing do not think even want to know about the kids in suitcases',
 'bed class work gym or then class another day that gonna fly by miss my girlfriend',
 'really do not feel like getting up today but got to study to for tomorrows practical exam',
 'he the reason for the teardrops on my guitar the only one who has enough of me to break my heart',
 'sad sad sad do not know why but hate this feeling wanna sleep and still can not',
 'soo wish was there to see you finally comfortable im sad that missed it',
 'falling asleep just heard about that tracy girl body being found how sad my heart breaks for that family',
 'yay happy for you with your job but that also means less time for me and you',
 'just checked my user timeline on my blackberry it looks like the twanking is still happening are ppl still having probs bgs and uids',
 'oh man was ironing fave top to wear to meeting burnt it',
 'is strangely sad about lilo and samro breaking up',
 'oh so sorry did not think about that before retweeting',
 'broadband plan massive broken promise via still waiting for broadband we are',
 'wow tons of replies from you may have to unfollow so can see my friends tweets you re scrolling the feed lot',
 'our duck and chicken are taking wayyy too long to hatch',
 'put vacation photos online few yrs ago pc crashed and now forget the name of the site',
 'need hug',
 'not sure what they are only that they are pos as much as want to dont think can trade away company assets sorry andy',
 'hate when that happens',
 'have sad feeling that dallas is not going to show up gotta say though you think more shows would use music from the game mmm',
 'ugh degrees tomorrow',
 'where did move to thought were already in sd hmmm random found me glad to hear yer doing well',
 'miss my ps it out of commission wutcha playing have you copped blood on the sand',
 'just leaving the parking lot of work',
 'the life is cool but not for me',
 'sadly though ve never gotten to experience the post coitus cigarette before and now never will',
 'had such nice day too bad the rain comes in tomorrow at am',
 'too bad will not be around lost my job and can not even pay my phone bill lmao aw shucks',
 'damm back to school tomorrow',
 'mo jobs no money how in the hell is min wage here clams an hour',
 'not forever see you soon',
 'agreed saw the failwhale allllll day today',
 'oh haha dude dont really look at em unless someone says hey added you sorry so terrible at that need pop up',
 'sure you re right need to start working out with you and the nikster or jared at least',
 'really hate how people diss my bands trace is clearly not ugly',
 'gym attire today was puma singlet adidas shorts and black business socks and leather shoes lucky did not run into any cute girls',
 'why will not you show my location',
 'no picnic my phone smells like citrus',
 'my donkey is sensitive about such comments nevertheless he and me be glad to see your mug asap charger is still awol',
 'no new csi tonight fml',
 'think my arms are sore from tennis',
 'wonders why someone that like so much can make you so unhappy in split seccond depressed',
 'sleep soon just hate saying bye and see you tomorrow for the night',
 'just got ur newsletter those fares really are unbelievable shame already booked and paid for mine',
 'missin the boo',
 'me too itm',
 'damn do not have any chalk my chalkboard is useless',
 'had blast at the getty villa but hates that she had sore throat all day it just getting worse too',
 'hey missed ya at the meeting sup mama',
 'my tummy hurts wonder if the hypnosis has anything to do with it if so it working get it stop smoking',
 'why is it always the fat ones',
 'sorry babe my fam annoys me too thankfully they re asleep right now muahaha evil laugh',
 'should have paid more attention when we covered photoshop in my webpage design class in undergrad',
 'wednesday my day do not know what do',
 'poor cameron the hills',
 'pray for me please the ex is threatening to start sh at my our babies st birthday party what jerk and still have headache',
 'hmm do really enjoy being with him if the problems are too constants should think things more find someone ulike',
 'strider is sick little puppy',
 'so rylee grace wana go steve party or not sadly since its easter wnt able do much but ohh well',
 'hey actually won one of my bracket pools too bad it was not the one for money',
 'you do not follow me either and work for you',
 'bad nite for the favorite teams astros and spartans lose the nite out with was good']

In [5]:
csv = 'clean_tweet.csv'
my_df = pd.read_csv(csv,index_col=0)
my_df.head()

                                                text  target
0  awww that s a bummer you shoulda got david car...       0
1  is upset that he can t update his facebook by ...       0
2  i dived many times for the ball managed to sav...       0
3     my whole body feels itchy and like its on fire       0
4  no it s not behaving at all i m mad why am i h...       0

In [6]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400000 entries, 0 to 399999
Data columns (total 2 columns):
text      399266 non-null object
target    400000 non-null int64
dtypes: int64(1), object(1)
memory usage: 9.2+ MB

In [7]:
my_df[my_df.isnull().any(axis=1)].head()

     text  target
208   NaN       0
249   NaN       0
398   NaN       0
430   NaN       0
1011  NaN       0

In [8]:
np.sum(my_df.isnull().any(axis=1))

734

In [9]:
my_df.isnull().any(axis=0)

text       True
target    False
dtype: bool

In [14]:
df = pd.read_csv("../Downloads/trainingandtestdata/training.1600000.processed.noemoticon.csv", encoding='latin-1', header=None)
df.iloc[my_df[my_df.isnull().any(axis=1)].index,:].head()

,0,1,2,3,4,5
208,0,1467863072,Mon Apr 06 22:33:25 PDT 2009,NO_QUERY,Artiel87,@mandayyy
249,0,1467874569,Mon Apr 06 22:36:27 PDT 2009,NO_QUERY,Artiel87,@mandayyy
398,0,1467912842,Mon Apr 06 22:46:53 PDT 2009,NO_QUERY,KimberlyKane,@danadearmond
430,0,1467919452,Mon Apr 06 22:48:48 PDT 2009,NO_QUERY,jtmal0723,@anistorm
1011,0,1468061127,Mon Apr 06 23:30:23 PDT 2009,NO_QUERY,gabysslave,@citizensheep

In [15]:
my_df.dropna(inplace=True)
my_df.reset_index(drop=True,inplace=True)
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399266 entries, 0 to 399265
Data columns (total 2 columns):
text      399266 non-null object
target    399266 non-null int64
dtypes: int64(1), object(1)
memory usage: 6.1+ MB

In [16]:
neg_tweets = my_df[my_df.target == 0]
neg_string = []
for t in neg_tweets.text:
    neg_string.append(t)
neg_string = pd.Series(neg_string).str.cat(sep=' ')
from wordcloud import WordCloud

wordcloud = WordCloud(width=1600, height=800,max_font_size=200).generate(neg_string)
plt.figure(figsize=(12,10))
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

ModuleNotFoundError: No module named 'wordcloud'